<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
	<h1>
		Welcome to {{ title }}!
	</h1>

</div>

<div class="container">
	<div class="row">
		<div class="col-xs-12">
			<h2>Les meules</h2>
			<p>Dernière mise à jour : {{ lastUpdate | async | date: 'dd/MM/yyyy HH:mm:ss' }}</p>
			<ul class="list-group">
				<app-appareil *ngFor="let appareil of appareils" 
					[appareilName]="appareil.name"
					[appareilStatus]="appareil.status"></app-appareil>
			</ul>
		</div>
		<button class="btn btn-success" [disabled]="!isAuth" (click)="onAllumer()">Tout démarrer</button>
	</div>
</div>